<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-4">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Salary</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Company Website</th>
                <th scope="col">Year of Experience</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>4589</td>
                <td>Alex</td>
                <td>SE</td>
                <td>45000</td>
                <td>9847506341</td>
                <td>alex@gmail.com</td>
                <td>nestgroup.com</td>
                <td>10</td>
              </tr>
              <tr>
                <td>4579</td>
                <td>Mathew</td>
                <td>SD</td>
                <td>35000</td>
                <td>9847507895</td>
                <td>mathew@gmail.com</td>
                <td>nestgroup.com</td>
                <td>7</td>
              </tr>
              <tr>
                <td>6589</td>
                <td>Alexander</td>
                <td>HR</td>
                <td>25000</td>
                <td>6257506341</td>
                <td>alexander1@gmail.com</td>
                <td>nestgroup.com</td>
                <td>4</td>
              </tr>
              <tr>
                <td>4589</td>
                <td>Kiran</td>
                <td>MD</td>
                <td>100000</td>
                <td>7557506341</td>
                <td>kiran@gmail.com</td>
                <td>ust.com</td>
                <td>8</td>
              </tr>
              <tr>
                <td>4589</td>
                <td>Ryan</td>
                <td>SE</td>
                <td>80000</td>
                <td>3557506341</td>
                <td>Ryan001@gmail.com</td>
                <td>tcs.com</td>
                <td>10</td>
              </tr>
              <tr>
                <td>9789</td>
                <td>Mohan</td>
                <td>SD</td>
                <td>90000</td>
                <td>3547806341</td>
                <td>mohan@gmail.com</td>
                <td>google.com</td>
                <td>10</td>
              </tr>
              <tr>
                <td>4459</td>
                <td>Manu</td>
                <td>SE</td>
                <td>60000</td>
                <td>3554589632</td>
                <td>manu@gmail.com</td>
                <td>cts.com</td>
                <td>12</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
